nav {
  width: 100%;
  height: 10%;
  justify-content: space-between;
  background-color: aliceblue;
  align-items: center;
}
#nav-logo {
  margin-left: 5%;
  width: 5%;
  height: 50%;
}
.navbar-list {
  width: 40%;
  height: 100%;
  margin-right: 2.5%;
  justify-content: space-evenly;
  align-items: center;
}
.main-container {
  width: 100%;
  height: 90%;
}
.main-container-item {
  width: 50%;
  height: 100%;
}
